<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.sixteen.dao.UserDAO">
    <insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="User" databaseId="mysql">
        insert into user (name, birthday, email, graduate_school)
        values (#{name}, #{birthday}, #{email}, #{graduateSchool})
    </insert>
    <select id="getUsersLike" resultType="User" parameterType="string" databaseId="mysql">
        <bind name="name_pattern" value="'%' + _parameter + '%'" />
        select * from user
        where name like #{name_pattern}
    </select>
    <update id="updateName" keyProperty="id" parameterType="User">
        update user set name=#{name} where id=#{id}
    </update>
</mapper>